@import "icon-variables";


@include font-face("es-breeze", "../fonts/ES-Breeze", normal, $file-formats: eot woff truetype svg);

i {
	font-family: "es-breeze" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Icon Sizes
// -------------------------

/* makes the font 33% larger relative to the icon container */
.es-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}
.es-2x { font-size: 2em; }
.es-3x { font-size: 3em; }
.es-4x { font-size: 4em; }
.es-5x { font-size: 5em; }


.es-ess {
	&:before {
		content: $es-ess;
	}
}
.es-unit {
	&:before {
		content: $es-unit;
	}
}
.es-walk {
	&:before {
		content: $es-walk;
	}
}
.es-zoom {
	&:before {
		content: $es-zoom;
	}
}
.es-mail-alt {
	&:before {
		content: $es-mail-alt;
	}
}
.es-heart {
	&:before {
		content: $es-heart;
	}
}
.es-star {
	&:before {
		content: $es-star;
	}
}
.es-star-empty {
	&:before {
		content: $es-star-empty;
	}
}
.es-user {
	&:before {
		content: $es-user;
	}
}
.es-th-large {
	&:before {
		content: $es-th-large;
	}
}
.es-th {
	&:before {
		content: $es-th;
	}
}
.es-list-th {
	&:before {
		content: $es-list-th;
	}
}
.es-check {
	&:before {
		content: $es-check;
	}
}
.es-times {
	&:before {
		content: $es-times;
	}
}
.es-zoom-in {
	&:before {
		content: $es-zoom-in;
	}
}
.es-zoom-out {
	&:before {
		content: $es-zoom-out;
	}
}
.es-power {
	&:before {
		content: $es-power;
	}
}
.es-gear {
	&:before {
		content: $es-gear;
	}
}
.es-trash {
	&:before {
		content: $es-trash;
	}
}
.es-house {
	&:before {
		content: $es-house;
	}
}
.es-file {
	&:before {
		content: $es-file;
	}
}
.es-clock {
	&:before {
		content: $es-clock;
	}
}
.es-road {
	&:before {
		content: $es-road;
	}
}
.es-download {
	&:before {
		content: $es-download;
	}
}
.es-circle-down-arrow {
	&:before {
		content: $es-circle-down-arrow;
	}
}
.es-circle-up-arrow {
	&:before {
		content: $es-circle-up-arrow;
	}
}
.es-inbox {
	&:before {
		content: $es-inbox;
	}
}
.es-caret-circle-right {
	&:before {
		content: $es-caret-circle-right;
	}
}
.es-reverse {
	&:before {
		content: $es-reverse;
	}
}
.es-refresh {
	&:before {
		content: $es-refresh;
	}
}
.es-list-alt {
	&:before {
		content: $es-list-alt;
	}
}
.es-locked {
	&:before {
		content: $es-locked;
	}
}
.es-flag {
	&:before {
		content: $es-flag;
	}
}
.es-vol-off {
	&:before {
		content: $es-vol-off;
	}
}
.es-vol-low {
	&:before {
		content: $es-vol-low;
	}
}
.es-vol-max {
	&:before {
		content: $es-vol-max;
	}
}
.es-qrcode {
	&:before {
		content: $es-qrcode;
	}
}
.es-barcode {
	&:before {
		content: $es-barcode;
	}
}
.es-tag {
	&:before {
		content: $es-tag;
	}
}
.es-tags {
	&:before {
		content: $es-tags;
	}
}
.es-book {
	&:before {
		content: $es-book;
	}
}
.es-bookmark {
	&:before {
		content: $es-bookmark;
	}
}
.es-print {
	&:before {
		content: $es-print;
	}
}
.es-camera {
	&:before {
		content: $es-camera;
	}
}
.es-video {
	&:before {
		content: $es-video;
	}
}
.es-pencil {
	&:before {
		content: $es-pencil;
	}
}
.es-map-location {
	&:before {
		content: $es-map-location;
	}
}
.es-contrast {
	&:before {
		content: $es-contrast;
	}
}
.es-color {
	&:before {
		content: $es-color;
	}
}
.es-edit {
	&:before {
		content: $es-edit;
	}
}
.es-checkbox {
	&:before {
		content: $es-checkbox;
	}
}
.es-chevron-left {
	&:before {
		content: $es-chevron-left;
	}
}
.es-chevron-right {
	&:before {
		content: $es-chevron-right;
	}
}
.es-plus-circle {
	&:before {
		content: $es-plus-circle;
	}
}
.es-minus-circle {
	&:before {
		content: $es-minus-circle;
	}
}
.es-times-circle {
	&:before {
		content: $es-times-circle;
	}
}
.es-check-circle {
	&:before {
		content: $es-check-circle;
	}
}
.es-question-circle {
	&:before {
		content: $es-question-circle;
	}
}
.es-info-circle {
	&:before {
		content: $es-info-circle;
	}
}
.es-times-circle-alt {
	&:before {
		content: $es-times-circle-alt;
	}
}
.es-check-circle-alt {
	&:before {
		content: $es-check-circle-alt;
	}
}
.es-ban {
	&:before {
		content: $es-ban;
	}
}
.es-arrow-left {
	&:before {
		content: $es-arrow-left;
	}
}
.es-arrow-right {
	&:before {
		content: $es-arrow-right;
	}
}
.es-arrow-up {
	&:before {
		content: $es-arrow-up;
	}
}
.es-arrow-down {
	&:before {
		content: $es-arrow-down;
	}
}
.es-expand {
	&:before {
		content: $es-expand;
	}
}
.es-contract {
	&:before {
		content: $es-contract;
	}
}
.es-plus {
	&:before {
		content: $es-plus;
	}
}
.es-minus {
	&:before {
		content: $es-minus;
	}
}
.es-asterisk {
	&:before {
		content: $es-asterisk;
	}
}
.es-alert {
	&:before {
		content: $es-alert;
	}
}
.es-show {
	&:before {
		content: $es-show;
	}
}
.es-hide {
	&:before {
		content: $es-hide;
	}
}
.es-warning {
	&:before {
		content: $es-warning;
	}
}
.es-calendar {
	&:before {
		content: $es-calendar;
	}
}
.es-comment {
	&:before {
		content: $es-comment;
	}
}
.es-chevron-up {
	&:before {
		content: $es-chevron-up;
	}
}
.es-chevron-down {
	&:before {
		content: $es-chevron-down;
	}
}
.es-cart {
	&:before {
		content: $es-cart;
	}
}
.es-folder {
	&:before {
		content: $es-folder;
	}
}
.es-folder-open {
	&:before {
		content: $es-folder-open;
	}
}
.es-resize-vert {
	&:before {
		content: $es-resize-vert;
	}
}
.es-resize-horiz {
	&:before {
		content: $es-resize-horiz;
	}
}
.es-key {
	&:before {
		content: $es-key;
	}
}
.es-gears {
	&:before {
		content: $es-gears;
	}
}
.es-comments {
	&:before {
		content: $es-comments;
	}
}
.es-thumbs-up {
	&:before {
		content: $es-thumbs-up;
	}
}
.es-thumbs-down {
	&:before {
		content: $es-thumbs-down;
	}
}
.es-star-half {
	&:before {
		content: $es-star-half;
	}
}
.es-heart-empty {
	&:before {
		content: $es-heart-empty;
	}
}
.es-logout {
	&:before {
		content: $es-logout;
	}
}
.es-pin {
	&:before {
		content: $es-pin;
	}
}
.es-external-link {
	&:before {
		content: $es-external-link;
	}
}
.es-login {
	&:before {
		content: $es-login;
	}
}
.es-upload {
	&:before {
		content: $es-upload;
	}
}
.es-lemon {
	&:before {
		content: $es-lemon;
	}
}
.es-phone {
	&:before {
		content: $es-phone;
	}
}
.es-empty-square {
	&:before {
		content: $es-empty-square;
	}
}
.es-bookmark-empty {
	&:before {
		content: $es-bookmark-empty;
	}
}
.es-phone-square {
	&:before {
		content: $es-phone-square;
	}
}
.es-lock-open {
	&:before {
		content: $es-lock-open;
	}
}
.es-credit {
	&:before {
		content: $es-credit;
	}
}
.es-megaphone {
	&:before {
		content: $es-megaphone;
	}
}
.es-bell {
	&:before {
		content: $es-bell;
	}
}
.es-certificate {
	&:before {
		content: $es-certificate;
	}
}
.es-point-right {
	&:before {
		content: $es-point-right;
	}
}
.es-point-left {
	&:before {
		content: $es-point-left;
	}
}
.es-point-up {
	&:before {
		content: $es-point-up;
	}
}
.es-point-down {
	&:before {
		content: $es-point-down;
	}
}
.es-arrow-left-circle {
	&:before {
		content: $es-arrow-left-circle;
	}
}
.es-arrow-right-circle {
	&:before {
		content: $es-arrow-right-circle;
	}
}
.es-arrow-up-circle {
	&:before {
		content: $es-arrow-up-circle;
	}
}
.es-arrow-down-circle {
	&:before {
		content: $es-arrow-down-circle;
	}
}
.es-globe {
	&:before {
		content: $es-globe;
	}
}
.es-wrench {
	&:before {
		content: $es-wrench;
	}
}
.es-tasks {
	&:before {
		content: $es-tasks;
	}
}
.es-filter {
	&:before {
		content: $es-filter;
	}
}
.es-briefcase {
	&:before {
		content: $es-briefcase;
	}
}
.es-resize {
	&:before {
		content: $es-resize;
	}
}
.es-users {
	&:before {
		content: $es-users;
	}
}
.es-link {
	&:before {
		content: $es-link;
	}
}
.es-cloud {
	&:before {
		content: $es-cloud;
	}
}
.es-scissors {
	&:before {
		content: $es-scissors;
	}
}
.es-files {
	&:before {
		content: $es-files;
	}
}
.es-paperclip {
	&:before {
		content: $es-paperclip;
	}
}
.es-square {
	&:before {
		content: $es-square;
	}
}
.es-hamburger {
	&:before {
		content: $es-hamburger;
	}
}
.es-list-ul {
	&:before {
		content: $es-list-ul;
	}
}
.es-list-ol {
	&:before {
		content: $es-list-ol;
	}
}
.es-strike-through {
	&:before {
		content: $es-strike-through;
	}
}
.es-underline {
	&:before {
		content: $es-underline;
	}
}
.es-table {
	&:before {
		content: $es-table;
	}
}
.es-magic-wand {
	&:before {
		content: $es-magic-wand;
	}
}
.es-truck {
	&:before {
		content: $es-truck;
	}
}
.es-dollar-bill {
	&:before {
		content: $es-dollar-bill;
	}
}
.es-caret-down {
	&:before {
		content: $es-caret-down;
	}
}
.es-caret-up {
	&:before {
		content: $es-caret-up;
	}
}
.es-caret-left {
	&:before {
		content: $es-caret-left;
	}
}
.es-caret-right {
	&:before {
		content: $es-caret-right;
	}
}
.es-columns {
	&:before {
		content: $es-columns;
	}
}
.es-sort {
	&:before {
		content: $es-sort;
	}
}
.es-sort-descend {
	&:before {
		content: $es-sort-descend;
	}
}
.es-sort-ascend {
	&:before {
		content: $es-sort-ascend;
	}
}
.es-envelope {
	&:before {
		content: $es-envelope;
	}
}
.es-reload {
	&:before {
		content: $es-reload;
	}
}
.es-dashboard {
	&:before {
		content: $es-dashboard;
	}
}
.es-comment-alt {
	&:before {
		content: $es-comment-alt;
	}
}
.es-comments-alt {
	&:before {
		content: $es-comments-alt;
	}
}
.es-bolt {
	&:before {
		content: $es-bolt;
	}
}
.es-sitemap {
	&:before {
		content: $es-sitemap;
	}
}
.es-umbrella {
	&:before {
		content: $es-umbrella;
	}
}
.es-clipboard {
	&:before {
		content: $es-clipboard;
	}
}
.es-lightbulb {
	&:before {
		content: $es-lightbulb;
	}
}
.es-cloud-download {
	&:before {
		content: $es-cloud-download;
	}
}
.es-cloud-upload {
	&:before {
		content: $es-cloud-upload;
	}
}
.es-suitcase {
	&:before {
		content: $es-suitcase;
	}
}
.es-bell-alt {
	&:before {
		content: $es-bell-alt;
	}
}
.es-document {
	&:before {
		content: $es-document;
	}
}
.es-building {
	&:before {
		content: $es-building;
	}
}
.es-plus-square {
	&:before {
		content: $es-plus-square;
	}
}
.es-double-angle-left {
	&:before {
		content: $es-double-angle-left;
	}
}
.es-double-angle-right {
	&:before {
		content: $es-double-angle-right;
	}
}
.es-double-angle-up {
	&:before {
		content: $es-double-angle-up;
	}
}
.es-double-angle-down {
	&:before {
		content: $es-double-angle-down;
	}
}
.es-angle-left {
	&:before {
		content: $es-angle-left;
	}
}
.es-angle-right {
	&:before {
		content: $es-angle-right;
	}
}
.es-angle-up {
	&:before {
		content: $es-angle-up;
	}
}
.es-angle-down {
	&:before {
		content: $es-angle-down;
	}
}
.es-desktop {
	&:before {
		content: $es-desktop;
	}
}
.es-laptop {
	&:before {
		content: $es-laptop;
	}
}
.es-tablet {
	&:before {
		content: $es-tablet;
	}
}
.es-cellphone {
	&:before {
		content: $es-cellphone;
	}
}
.es-circle {
	&:before {
		content: $es-circle;
	}
}
.es-quote-open {
	&:before {
		content: $es-quote-open;
	}
}
.es-quote-close {
	&:before {
		content: $es-quote-close;
	}
}
.es-loading {
	&:before {
		content: $es-loading;
	}
}
.es-circle-alt {
	&:before {
		content: $es-circle-alt;
	}
}
.es-folder-alt {
	&:before {
		content: $es-folder-alt;
	}
}
.es-folder-open-alt {
	&:before {
		content: $es-folder-open-alt;
	}
}
.es-happy {
	&:before {
		content: $es-happy;
	}
}
.es-sad {
	&:before {
		content: $es-sad;
	}
}
.es-neutral {
	&:before {
		content: $es-neutral;
	}
}
.es-keyboard {
	&:before {
		content: $es-keyboard;
	}
}
.es-flag-alt {
	&:before {
		content: $es-flag-alt;
	}
}
.es-flag-checkered {
	&:before {
		content: $es-flag-checkered;
	}
}
.es-terminal {
	&:before {
		content: $es-terminal;
	}
}
.es-code {
	&:before {
		content: $es-code;
	}
}
.es-star-half-full {
	&:before {
		content: $es-star-half-full;
	}
}
.es-compass-arrow {
	&:before {
		content: $es-compass-arrow;
	}
}
.es-fork {
	&:before {
		content: $es-fork;
	}
}
.es-link-broken {
	&:before {
		content: $es-link-broken;
	}
}
.es-question {
	&:before {
		content: $es-question;
	}
}
.es-info {
	&:before {
		content: $es-info;
	}
}
.es-exclamation {
	&:before {
		content: $es-exclamation;
	}
}
.es-calendar-empty {
	&:before {
		content: $es-calendar-empty;
	}
}
.es-fire-extinguisher {
	&:before {
		content: $es-fire-extinguisher;
	}
}
.es-chevron-left-circle {
	&:before {
		content: $es-chevron-left-circle;
	}
}
.es-chevron-right-circle {
	&:before {
		content: $es-chevron-right-circle;
	}
}
.es-chevron-up-circle {
	&:before {
		content: $es-chevron-up-circle;
	}
}
.es-chevron-down-circle {
	&:before {
		content: $es-chevron-down-circle;
	}
}
.es-unlocked {
	&:before {
		content: $es-unlocked;
	}
}
.es-ellipses {
	&:before {
		content: $es-ellipses;
	}
}
.es-ellipses-vert {
	&:before {
		content: $es-ellipses-vert;
	}
}
.es-minus-square {
	&:before {
		content: $es-minus-square;
	}
}
.es-minus-square-alt {
	&:before {
		content: $es-minus-square-alt;
	}
}
.es-check-square {
	&:before {
		content: $es-check-square;
	}
}
.es-pencil-square {
	&:before {
		content: $es-pencil-square;
	}
}
.es-caret-down-square {
	&:before {
		content: $es-caret-down-square;
	}
}
.es-caret-up-square {
	&:before {
		content: $es-caret-up-square;
	}
}
.es-caret-right-square {
	&:before {
		content: $es-caret-right-square;
	}
}
.es-euro {
	&:before {
		content: $es-euro;
	}
}
.es-pound {
	&:before {
		content: $es-pound;
	}
}
.es-dollar {
	&:before {
		content: $es-dollar;
	}
}
.es-file-alt {
	&:before {
		content: $es-file-alt;
	}
}
.es-document-alt {
	&:before {
		content: $es-document-alt;
	}
}
.es-sort-alpha-desc {
	&:before {
		content: $es-sort-alpha-desc;
	}
}
.es-sort-alpha-ascend {
	&:before {
		content: $es-sort-alpha-ascend;
	}
}
.es-ascend {
	&:before {
		content: $es-ascend;
	}
}
.es-descend {
	&:before {
		content: $es-descend;
	}
}
.es-sort-num-ascend {
	&:before {
		content: $es-sort-num-ascend;
	}
}
.es-sort-num-desc {
	&:before {
		content: $es-sort-num-desc;
	}
}
.es-thumbs-up-alt {
	&:before {
		content: $es-thumbs-up-alt;
	}
}
.es-thumbs-down-alt {
	&:before {
		content: $es-thumbs-down-alt;
	}
}
.es-female {
	&:before {
		content: $es-female;
	}
}
.es-male {
	&:before {
		content: $es-male;
	}
}
.es-sun {
	&:before {
		content: $es-sun;
	}
}
.es-moon {
	&:before {
		content: $es-moon;
	}
}
.es-file-box {
	&:before {
		content: $es-file-box;
	}
}
.es-arrow-circle-right {
	&:before {
		content: $es-arrow-circle-right;
	}
}
.es-arrow-circle-left {
	&:before {
		content: $es-arrow-circle-left;
	}
}
.es-caret-square-left {
	&:before {
		content: $es-caret-square-left;
	}
}
.es-handicap {
	&:before {
		content: $es-handicap;
	}
}
.es-building-alt {
	&:before {
		content: $es-building-alt;
	}
}
.es-child {
	&:before {
		content: $es-child;
	}
}
.es-paw {
	&:before {
		content: $es-paw;
	}
}
.es-recycle {
	&:before {
		content: $es-recycle;
	}
}
.es-car {
	&:before {
		content: $es-car;
	}
}
.es-database {
	&:before {
		content: $es-database;
	}
}
.es-file-pdf {
	&:before {
		content: $es-file-pdf;
	}
}
.es-file-word {
	&:before {
		content: $es-file-word;
	}
}
.es-file-excel {
	&:before {
		content: $es-file-excel;
	}
}
.es-file-powerpoint {
	&:before {
		content: $es-file-powerpoint;
	}
}
.es-file-image {
	&:before {
		content: $es-file-image;
	}
}
.es-file-zipped {
	&:before {
		content: $es-file-zipped;
	}
}
.es-reverse-time {
	&:before {
		content: $es-reverse-time;
	}
}
.es-sliders {
	&:before {
		content: $es-sliders;
	}
}
.es-share {
	&:before {
		content: $es-share;
	}
}
.es-share-alt {
	&:before {
		content: $es-share-alt;
	}
}
.es-plug {
	&:before {
		content: $es-plug;
	}
}
.es-news {
	&:before {
		content: $es-news;
	}
}
.es-wi-fi {
	&:before {
		content: $es-wi-fi;
	}
}
.es-calculator {
	&:before {
		content: $es-calculator;
	}
}
.es-credit-visa {
	&:before {
		content: $es-credit-visa;
	}
}
.es-credit-mastercard {
	&:before {
		content: $es-credit-mastercard;
	}
}
.es-credit-discover {
	&:before {
		content: $es-credit-discover;
	}
}
.es-credit-amex {
	&:before {
		content: $es-credit-amex;
	}
}
.es-credit-paypal {
	&:before {
		content: $es-credit-paypal;
	}
}
.es-credit-stripe {
	&:before {
		content: $es-credit-stripe;
	}
}
.es-trash-alt {
	&:before {
		content: $es-trash-alt;
	}
}
.es-copyright {
	&:before {
		content: $es-copyright;
	}
}
.es-at-symbol {
	&:before {
		content: $es-at-symbol;
	}
}
.es-line-graph {
	&:before {
		content: $es-line-graph;
	}
}
.es-pie-chart {
	&:before {
		content: $es-pie-chart;
	}
}
.es-graph {
	&:before {
		content: $es-graph;
	}
}
.es-toggle-off {
	&:before {
		content: $es-toggle-off;
	}
}
.es-toggle-on {
	&:before {
		content: $es-toggle-on;
	}
}
.es-bike {
	&:before {
		content: $es-bike;
	}
}
.es-motorcycle {
	&:before {
		content: $es-motorcycle;
	}
}
.es-server {
	&:before {
		content: $es-server;
	}
}
.es-user-add {
	&:before {
		content: $es-user-add;
	}
}
.es-user-remove {
	&:before {
		content: $es-user-remove;
	}
}
.es-pointer {
	&:before {
		content: $es-pointer;
	}
}
.es-note {
	&:before {
		content: $es-note;
	}
}
.es-note-alt {
	&:before {
		content: $es-note-alt;
	}
}
.es-notes {
	&:before {
		content: $es-notes;
	}
}
.es-trademark {
	&:before {
		content: $es-trademark;
	}
}
.es-reserved {
	&:before {
		content: $es-reserved;
	}
}
.es-calendar-add {
	&:before {
		content: $es-calendar-add;
	}
}
.es-calendar-remove {
	&:before {
		content: $es-calendar-remove;
	}
}
.es-calendar-delete {
	&:before {
		content: $es-calendar-delete;
	}
}
.es-calendar-check {
	&:before {
		content: $es-calendar-check;
	}
}
.es-map {
	&:before {
		content: $es-map;
	}
}
.es-map-alt {
	&:before {
		content: $es-map-alt;
	}
}
.es-credit-alt {
	&:before {
		content: $es-credit-alt;
	}
}
.es-usb {
	&:before {
		content: $es-usb;
	}
}
.es-purse {
	&:before {
		content: $es-purse;
	}
}
.es-basket {
	&:before {
		content: $es-basket;
	}
}
.es-octothorpe {
	&:before {
		content: $es-octothorpe;
	}
}
.es-bluetooth {
	&:before {
		content: $es-bluetooth;
	}
}
.es-bluetooth-alt {
	&:before {
		content: $es-bluetooth-alt;
	}
}
.es-percent {
	&:before {
		content: $es-percent;
	}
}

