@font-face {
	font-family: 'ES-Breeze';
	src:url('fonts/ES-Breeze.eot?fh28ux');
	src:url('fonts/ES-Breeze.eot?fh28ux#iefix') format('embedded-opentype'),
		url('fonts/ES-Breeze.ttf?fh28ux') format('truetype'),
		url('fonts/ES-Breeze.woff?fh28ux') format('woff'),
		url('fonts/ES-Breeze.svg?fh28ux#ES-Breeze') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'ES-Breeze' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.es-ess:before {
	content: "\e900";
}
.es-unit:before {
	content: "\e901";
}
.es-walk:before {
	content: "\e902";
}
.es-zoom:before {
	content: "\f002";
}
.es-mail-alt:before {
	content: "\f003";
}
.es-heart:before {
	content: "\f004";
}
.es-star:before {
	content: "\f005";
}
.es-star-empty:before {
	content: "\f006";
}
.es-user:before {
	content: "\f007";
}
.es-th-large:before {
	content: "\f009";
}
.es-th:before {
	content: "\f00a";
}
.es-list-th:before {
	content: "\f00b";
}
.es-check:before {
	content: "\f00c";
}
.es-times:before {
	content: "\f00d";
}
.es-zoom-in:before {
	content: "\f00e";
}
.es-zoom-out:before {
	content: "\f010";
}
.es-power:before {
	content: "\f011";
}
.es-gear:before {
	content: "\f013";
}
.es-trash:before {
	content: "\f014";
}
.es-house:before {
	content: "\f015";
}
.es-file:before {
	content: "\f016";
}
.es-clock:before {
	content: "\f017";
}
.es-road:before {
	content: "\f018";
}
.es-download:before {
	content: "\f019";
}
.es-circle-down-arrow:before {
	content: "\f01a";
}
.es-circle-up-arrow:before {
	content: "\f01b";
}
.es-inbox:before {
	content: "\f01c";
}
.es-caret-circle-right:before {
	content: "\f01d";
}
.es-reverse:before {
	content: "\f01e";
}
.es-refresh:before {
	content: "\f021";
}
.es-list-alt:before {
	content: "\f022";
}
.es-locked:before {
	content: "\f023";
}
.es-flag:before {
	content: "\f024";
}
.es-vol-off:before {
	content: "\f026";
}
.es-vol-low:before {
	content: "\f027";
}
.es-vol-max:before {
	content: "\f028";
}
.es-qrcode:before {
	content: "\f029";
}
.es-barcode:before {
	content: "\f02a";
}
.es-tag:before {
	content: "\f02b";
}
.es-tags:before {
	content: "\f02c";
}
.es-book:before {
	content: "\f02d";
}
.es-bookmark:before {
	content: "\f02e";
}
.es-print:before {
	content: "\f02f";
}
.es-camera:before {
	content: "\f030";
}
.es-video:before {
	content: "\f03d";
}
.es-pencil:before {
	content: "\f040";
}
.es-map-location:before {
	content: "\f041";
}
.es-contrast:before {
	content: "\f042";
}
.es-color:before {
	content: "\f043";
}
.es-edit:before {
	content: "\f044";
}
.es-checkbox:before {
	content: "\f046";
}
.es-chevron-left:before {
	content: "\f053";
}
.es-chevron-right:before {
	content: "\f054";
}
.es-plus-circle:before {
	content: "\f055";
}
.es-minus-circle:before {
	content: "\f056";
}
.es-times-cirlce:before {
	content: "\f057";
}
.es-check-circle:before {
	content: "\f058";
}
.es-question-circle:before {
	content: "\f059";
}
.es-info-circle:before {
	content: "\f05a";
}
.es-times-circle-alt:before {
	content: "\f05c";
}
.es-check-circle-alt:before {
	content: "\f05d";
}
.es-ban:before {
	content: "\f05e";
}
.es-arrow-left:before {
	content: "\f060";
}
.es-arrow-right:before {
	content: "\f061";
}
.es-arrow-up:before {
	content: "\f062";
}
.es-arrow-down:before {
	content: "\f063";
}
.es-expand:before {
	content: "\f065";
}
.es-contract:before {
	content: "\f066";
}
.es-plus:before {
	content: "\f067";
}
.es-minus:before {
	content: "\f068";
}
.es-asterisk:before {
	content: "\f069";
}
.es-alert:before {
	content: "\f06a";
}
.es-show:before {
	content: "\f06e";
}
.es-hide:before {
	content: "\f070";
}
.es-warning:before {
	content: "\f071";
}
.es-calendar:before {
	content: "\f073";
}
.es-comment:before {
	content: "\f075";
}
.es-chevron-up:before {
	content: "\f077";
}
.es-chevron-down:before {
	content: "\f078";
}
.es-cart:before {
	content: "\f07a";
}
.es-folder:before {
	content: "\f07b";
}
.es-folder-open:before {
	content: "\f07c";
}
.es-resize-vert:before {
	content: "\f07d";
}
.es-resize-horiz:before {
	content: "\f07e";
}
.es-key:before {
	content: "\f084";
}
.es-gears:before {
	content: "\f085";
}
.es-comments:before {
	content: "\f086";
}
.es-thumbs-up:before {
	content: "\f087";
}
.es-thumbs-down:before {
	content: "\f088";
}
.es-star-half:before {
	content: "\f089";
}
.es-heart-empty:before {
	content: "\f08a";
}
.es-logout:before {
	content: "\f08b";
}
.es-pin:before {
	content: "\f08d";
}
.es-external-link:before {
	content: "\f08e";
}
.es-login:before {
	content: "\f090";
}
.es-upload:before {
	content: "\f093";
}
.es-lemon:before {
	content: "\f094";
}
.es-phone:before {
	content: "\f095";
}
.es-empty-square:before {
	content: "\f096";
}
.es-bookmark-empty:before {
	content: "\f097";
}
.es-phone-square:before {
	content: "\f098";
}
.es-lock-open:before {
	content: "\f09c";
}
.es-credit:before {
	content: "\f09d";
}
.es-megaphone:before {
	content: "\f0a1";
}
.es-bell:before {
	content: "\f0a2";
}
.es-certificate:before {
	content: "\f0a3";
}
.es-point-right:before {
	content: "\f0a4";
}
.es-point-left:before {
	content: "\f0a5";
}
.es-point-up:before {
	content: "\f0a6";
}
.es-point-down:before {
	content: "\f0a7";
}
.es-arrow-left-circle:before {
	content: "\f0a8";
}
.es-arrow-right-circle:before {
	content: "\f0a9";
}
.es-arrow-up-circle:before {
	content: "\f0aa";
}
.es-arrow-down-circle:before {
	content: "\f0ab";
}
.es-globe:before {
	content: "\f0ac";
}
.es-wrench:before {
	content: "\f0ad";
}
.es-tasks:before {
	content: "\f0ae";
}
.es-filter:before {
	content: "\f0b0";
}
.es-briefcase:before {
	content: "\f0b1";
}
.es-resize:before {
	content: "\f0b2";
}
.es-users:before {
	content: "\f0c0";
}
.es-link:before {
	content: "\f0c1";
}
.es-cloud:before {
	content: "\f0c2";
}
.es-scissors:before {
	content: "\f0c4";
}
.es-files:before {
	content: "\f0c5";
}
.es-paperclip:before {
	content: "\f0c6";
}
.es-square:before {
	content: "\f0c8";
}
.es-hamburger:before {
	content: "\f0c9";
}
.es-list-ul:before {
	content: "\f0ca";
}
.es-list-ol:before {
	content: "\f0cb";
}
.es-strike-through:before {
	content: "\f0cc";
}
.es-underline:before {
	content: "\f0cd";
}
.es-table:before {
	content: "\f0ce";
}
.es-magic-wand:before {
	content: "\f0d0";
}
.es-truck:before {
	content: "\f0d1";
}
.es-dollar-bill:before {
	content: "\f0d6";
}
.es-caret-down:before {
	content: "\f0d7";
}
.es-caret-up:before {
	content: "\f0d8";
}
.es-caret-left:before {
	content: "\f0d9";
}
.es-caret-right:before {
	content: "\f0da";
}
.es-columns:before {
	content: "\f0db";
}
.es-sort:before {
	content: "\f0dc";
}
.es-sort-descend:before {
	content: "\f0dd";
}
.es-sort-ascend:before {
	content: "\f0de";
}
.es-envelope:before {
	content: "\f0e0";
}
.es-reload:before {
	content: "\f0e2";
}
.es-dashboard:before {
	content: "\f0e4";
}
.es-comment-alt:before {
	content: "\f0e5";
}
.es-comments-alt:before {
	content: "\f0e6";
}
.es-bolt:before {
	content: "\f0e7";
}
.es-sitemap:before {
	content: "\f0e8";
}
.es-umbrella:before {
	content: "\f0e9";
}
.es-clipboard:before {
	content: "\f0ea";
}
.es-lightbulb:before {
	content: "\f0eb";
}
.es-cloud-download:before {
	content: "\f0ed";
}
.es-cloud-upload:before {
	content: "\f0ee";
}
.es-suitcase:before {
	content: "\f0f2";
}
.es-bell-alt:before {
	content: "\f0f3";
}
.es-document:before {
	content: "\f0f6";
}
.es-building:before {
	content: "\f0f7";
}
.es-plus-square:before {
	content: "\f0fe";
}
.es-double-angle-left:before {
	content: "\f100";
}
.es-double-angle-right:before {
	content: "\f101";
}
.es-double-angle-up:before {
	content: "\f102";
}
.es-double-angle-down:before {
	content: "\f103";
}
.es-angle-left:before {
	content: "\f104";
}
.es-angle-right:before {
	content: "\f105";
}
.es-angle-up:before {
	content: "\f106";
}
.es-angle-down:before {
	content: "\f107";
}
.es-desktop:before {
	content: "\f108";
}
.es-laptop:before {
	content: "\f109";
}
.es-tablet:before {
	content: "\f10a";
}
.es-cellphone:before {
	content: "\f10b";
}
.es-circle:before {
	content: "\f10c";
}
.es-quote-open:before {
	content: "\f10d";
}
.es-quote-close:before {
	content: "\f10e";
}
.es-loading:before {
	content: "\f110";
}
.es-circle-alt:before {
	content: "\f111";
}
.es-folder-alt:before {
	content: "\f114";
}
.es-folder-open-alt:before {
	content: "\f115";
}
.es-happy:before {
	content: "\f118";
}
.es-sad:before {
	content: "\f119";
}
.es-neutral:before {
	content: "\f11a";
}
.es-keyboard:before {
	content: "\f11c";
}
.es-flag-alt:before {
	content: "\f11d";
}
.es-flag-checkered:before {
	content: "\f11e";
}
.es-terminal:before {
	content: "\f120";
}
.es-code:before {
	content: "\f121";
}
.es-star-half-full:before {
	content: "\f123";
}
.es-compass-arrow:before {
	content: "\f124";
}
.es-fork:before {
	content: "\f126";
}
.es-link-broken:before {
	content: "\f127";
}
.es-question:before {
	content: "\f128";
}
.es-info:before {
	content: "\f129";
}
.es-exclamation:before {
	content: "\f12a";
}
.es-calendar-empty:before {
	content: "\f133";
}
.es-fire-extinguisher:before {
	content: "\f134";
}
.es-chevron-left-circle:before {
	content: "\f137";
}
.es-chevron-right-circle:before {
	content: "\f138";
}
.es-chevron-up-circle:before {
	content: "\f139";
}
.es-chevron-down-circle:before {
	content: "\f13a";
}
.es-unlocked:before {
	content: "\f13e";
}
.es-ellipses:before {
	content: "\f141";
}
.es-ellipses-vert:before {
	content: "\f142";
}
.es-minus-square:before {
	content: "\f146";
}
.es-minus-square-alt:before {
	content: "\f147";
}
.es-check-square:before {
	content: "\f14a";
}
.es-pencil-square:before {
	content: "\f14b";
}
.es-caret-down-square:before {
	content: "\f150";
}
.es-caret-up-square:before {
	content: "\f151";
}
.es-caret-right-square:before {
	content: "\f152";
}
.es-euro:before {
	content: "\f153";
}
.es-pound:before {
	content: "\f154";
}
.es-dollar:before {
	content: "\f155";
}
.es-file-alt:before {
	content: "\f15b";
}
.es-document-alt:before {
	content: "\f15c";
}
.es-sort-alpha-desc:before {
	content: "\f15d";
}
.es-sort-alpha-ascend:before {
	content: "\f15e";
}
.es-ascend:before {
	content: "\f160";
}
.es-descend:before {
	content: "\f161";
}
.es-sort-num-ascend:before {
	content: "\f162";
}
.es-sort-num-desc:before {
	content: "\f163";
}
.es-thumbs-up-alt:before {
	content: "\f164";
}
.es-thumbs-down-alt:before {
	content: "\f165";
}
.es-female:before {
	content: "\f182";
}
.es-male:before {
	content: "\f183";
}
.es-sun:before {
	content: "\f185";
}
.es-moon:before {
	content: "\f186";
}
.es-file-box:before {
	content: "\f187";
}
.es-arrow-circle-right:before {
	content: "\f18e";
}
.es-arroe-circle-left:before {
	content: "\f190";
}
.es-caret-square-left:before {
	content: "\f191";
}
.es-handicap:before {
	content: "\f193";
}
.es-building-alt:before {
	content: "\f1ad";
}
.es-child:before {
	content: "\f1ae";
}
.es-paw:before {
	content: "\f1b0";
}
.es-recycle:before {
	content: "\f1b8";
}
.es-car:before {
	content: "\f1b9";
}
.es-database:before {
	content: "\f1c0";
}
.es-pdf:before {
	content: "\f1c1";
}
.es-word:before {
	content: "\f1c2";
}
.es-excel:before {
	content: "\f1c3";
}
.es-powepoint:before {
	content: "\f1c4";
}
.es-image:before {
	content: "\f1c5";
}
.es-zipped:before {
	content: "\f1c6";
}
.es-reverse-time:before {
	content: "\f1da";
}
.es-sliders:before {
	content: "\f1de";
}
.es-share:before {
	content: "\f1e0";
}
.es-share-alt:before {
	content: "\f1e1";
}
.es-plug:before {
	content: "\f1e6";
}
.es-news:before {
	content: "\f1ea";
}
.es-wi-fi:before {
	content: "\f1eb";
}
.es-calculator:before {
	content: "\f1ec";
}
.es-credit-visa:before {
	content: "\f1f0";
}
.es-credit-mastercard:before {
	content: "\f1f1";
}
.es-credit-discover:before {
	content: "\f1f2";
}
.es-credit-amex:before {
	content: "\f1f3";
}
.es-credit-paypal:before {
	content: "\f1f4";
}
.es-credit-stripe:before {
	content: "\f1f5";
}
.es-trash-alt:before {
	content: "\f1f8";
}
.es-copyright:before {
	content: "\f1f9";
}
.es-at-symbol:before {
	content: "\f1fa";
}
.es-line-graph:before {
	content: "\f1fe";
}
.es-pie-chart:before {
	content: "\f200";
}
.es-graph:before {
	content: "\f201";
}
.es-toggle-off:before {
	content: "\f204";
}
.es-toggle-on:before {
	content: "\f205";
}
.es-bike:before {
	content: "\f206";
}
.es-motorcycle:before {
	content: "\f21c";
}
.es-server:before {
	content: "\f233";
}
.es-user-add:before {
	content: "\f234";
}
.es-user-remove:before {
	content: "\f235";
}
.es-pointer:before {
	content: "\f245";
}
.es-note:before {
	content: "\f249";
}
.es-note-alt:before {
	content: "\f24a";
}
.es-notes:before {
	content: "\f24d";
}
.es-trademark:before {
	content: "\f25c";
}
.es-reserved:before {
	content: "\f25d";
}
.es-calendar-add:before {
	content: "\f271";
}
.es-calendar-remove:before {
	content: "\f272";
}
.es-calendar-delete:before {
	content: "\f273";
}
.es-calendar-check:before {
	content: "\f274";
}
.es-map:before {
	content: "\f278";
}
.es-map-alt:before {
	content: "\f279";
}
.es-credit-alt:before {
	content: "\f283";
}
.es-usb:before {
	content: "\f287";
}
.es-purse:before {
	content: "\f290";
}
.es-basket:before {
	content: "\f291";
}
.es-octothorpe:before {
	content: "\f292";
}
.es-bluetooth:before {
	content: "\f293";
}
.es-bluetooth-alt:before {
	content: "\f294";
}
.es-percent:before {
	content: "\f295";
}

