$icomoon-font-path: "fonts" !default;

$es-transfer: "\e903";
$es-ess: "\e900";
$es-unit: "\e901";
$es-walk: "\e902";
$es-zoom: "\f002";
$es-mail-alt: "\f003";
$es-heart: "\f004";
$es-star: "\f005";
$es-star-empty: "\f006";
$es-user: "\f007";
$es-th-large: "\f009";
$es-th: "\f00a";
$es-list-th: "\f00b";
$es-check: "\f00c";
$es-times: "\f00d";
$es-zoom-in: "\f00e";
$es-zoom-out: "\f010";
$es-power: "\f011";
$es-gear: "\f013";
$es-trash: "\f014";
$es-house: "\f015";
$es-file: "\f016";
$es-clock: "\f017";
$es-road: "\f018";
$es-download: "\f019";
$es-circle-down-arrow: "\f01a";
$es-circle-up-arrow: "\f01b";
$es-inbox: "\f01c";
$es-caret-circle-right: "\f01d";
$es-reverse: "\f01e";
$es-refresh: "\f021";
$es-list-alt: "\f022";
$es-locked: "\f023";
$es-flag: "\f024";
$es-vol-off: "\f026";
$es-vol-low: "\f027";
$es-vol-max: "\f028";
$es-qrcode: "\f029";
$es-barcode: "\f02a";
$es-tag: "\f02b";
$es-tags: "\f02c";
$es-book: "\f02d";
$es-bookmark: "\f02e";
$es-print: "\f02f";
$es-camera: "\f030";
$es-video: "\f03d";
$es-pencil: "\f040";
$es-map-location: "\f041";
$es-contrast: "\f042";
$es-color: "\f043";
$es-edit: "\f044";
$es-checkbox: "\f046";
$es-chevron-left: "\f053";
$es-chevron-right: "\f054";
$es-plus-circle: "\f055";
$es-minus-circle: "\f056";
$es-times-circle: "\f057";
$es-check-circle: "\f058";
$es-question-circle: "\f059";
$es-info-circle: "\f05a";
$es-times-circle-alt: "\f05c";
$es-check-circle-alt: "\f05d";
$es-ban: "\f05e";
$es-arrow-left: "\f060";
$es-arrow-right: "\f061";
$es-arrow-up: "\f062";
$es-arrow-down: "\f063";
$es-expand: "\f065";
$es-contract: "\f066";
$es-plus: "\f067";
$es-minus: "\f068";
$es-asterisk: "\f069";
$es-alert: "\f06a";
$es-show: "\f06e";
$es-hide: "\f070";
$es-warning: "\f071";
$es-calendar: "\f073";
$es-comment: "\f075";
$es-chevron-up: "\f077";
$es-chevron-down: "\f078";
$es-cart: "\f07a";
$es-folder: "\f07b";
$es-folder-open: "\f07c";
$es-resize-vert: "\f07d";
$es-resize-horiz: "\f07e";
$es-key: "\f084";
$es-gears: "\f085";
$es-comments: "\f086";
$es-thumbs-up: "\f087";
$es-thumbs-down: "\f088";
$es-star-half: "\f089";
$es-heart-empty: "\f08a";
$es-logout: "\f08b";
$es-pin: "\f08d";
$es-external-link: "\f08e";
$es-login: "\f090";
$es-upload: "\f093";
$es-lemon: "\f094";
$es-phone: "\f095";
$es-empty-square: "\f096";
$es-bookmark-empty: "\f097";
$es-phone-square: "\f098";
$es-lock-open: "\f09c";
$es-credit: "\f09d";
$es-megaphone: "\f0a1";
$es-bell: "\f0a2";
$es-certificate: "\f0a3";
$es-point-right: "\f0a4";
$es-point-left: "\f0a5";
$es-point-up: "\f0a6";
$es-point-down: "\f0a7";
$es-arrow-left-circle: "\f0a8";
$es-arrow-right-circle: "\f0a9";
$es-arrow-up-circle: "\f0aa";
$es-arrow-down-circle: "\f0ab";
$es-globe: "\f0ac";
$es-wrench: "\f0ad";
$es-tasks: "\f0ae";
$es-filter: "\f0b0";
$es-briefcase: "\f0b1";
$es-resize: "\f0b2";
$es-users: "\f0c0";
$es-link: "\f0c1";
$es-cloud: "\f0c2";
$es-scissors: "\f0c4";
$es-files: "\f0c5";
$es-paperclip: "\f0c6";
$es-square: "\f0c8";
$es-hamburger: "\f0c9";
$es-list-ul: "\f0ca";
$es-list-ol: "\f0cb";
$es-strike-through: "\f0cc";
$es-underline: "\f0cd";
$es-table: "\f0ce";
$es-magic-wand: "\f0d0";
$es-truck: "\f0d1";
$es-dollar-bill: "\f0d6";
$es-caret-down: "\f0d7";
$es-caret-up: "\f0d8";
$es-caret-left: "\f0d9";
$es-caret-right: "\f0da";
$es-columns: "\f0db";
$es-sort: "\f0dc";
$es-sort-descend: "\f0dd";
$es-sort-ascend: "\f0de";
$es-envelope: "\f0e0";
$es-reload: "\f0e2";
$es-dashboard: "\f0e4";
$es-comment-alt: "\f0e5";
$es-comments-alt: "\f0e6";
$es-bolt: "\f0e7";
$es-sitemap: "\f0e8";
$es-umbrella: "\f0e9";
$es-clipboard: "\f0ea";
$es-lightbulb: "\f0eb";
$es-parallel-arrows: "\f0ec";
$es-cloud-download: "\f0ed";
$es-cloud-upload: "\f0ee";
$es-suitcase: "\f0f2";
$es-bell-alt: "\f0f3";
$es-document: "\f0f6";
$es-building: "\f0f7";
$es-plus-square: "\f0fe";
$es-double-angle-left: "\f100";
$es-double-angle-right: "\f101";
$es-double-angle-up: "\f102";
$es-double-angle-down: "\f103";
$es-angle-left: "\f104";
$es-angle-right: "\f105";
$es-angle-up: "\f106";
$es-angle-down: "\f107";
$es-desktop: "\f108";
$es-laptop: "\f109";
$es-tablet: "\f10a";
$es-cellphone: "\f10b";
$es-circle: "\f10c";
$es-quote-open: "\f10d";
$es-quote-close: "\f10e";
$es-loading: "\f110";
$es-circle-alt: "\f111";
$es-folder-alt: "\f114";
$es-folder-open-alt: "\f115";
$es-happy: "\f118";
$es-sad: "\f119";
$es-neutral: "\f11a";
$es-keyboard: "\f11c";
$es-flag-alt: "\f11d";
$es-flag-checkered: "\f11e";
$es-terminal: "\f120";
$es-code: "\f121";
$es-star-half-full: "\f123";
$es-compass-arrow: "\f124";
$es-fork: "\f126";
$es-link-broken: "\f127";
$es-question: "\f128";
$es-info: "\f129";
$es-exclamation: "\f12a";
$es-calendar-empty: "\f133";
$es-fire-extinguisher: "\f134";
$es-chevron-left-circle: "\f137";
$es-chevron-right-circle: "\f138";
$es-chevron-up-circle: "\f139";
$es-chevron-down-circle: "\f13a";
$es-unlocked: "\f13e";
$es-ellipses: "\f141";
$es-ellipses-vert: "\f142";
$es-minus-square: "\f146";
$es-minus-square-alt: "\f147";
$es-level-up: "\f148";
$es-level-down: "\f149";
$es-check-square: "\f14a";
$es-pencil-square: "\f14b";
$es-caret-down-square: "\f150";
$es-caret-up-square: "\f151";
$es-caret-right-square: "\f152";
$es-euro: "\f153";
$es-pound: "\f154";
$es-dollar: "\f155";
$es-file-alt: "\f15b";
$es-document-alt: "\f15c";
$es-sort-alpha-desc: "\f15d";
$es-sort-alpha-ascend: "\f15e";
$es-ascend: "\f160";
$es-descend: "\f161";
$es-sort-num-ascend: "\f162";
$es-sort-num-desc: "\f163";
$es-thumbs-up-alt: "\f164";
$es-thumbs-down-alt: "\f165";
$es-long-arrow-down: "\f175";
$es-long-arrow-up: "\f176";
$es-long-arrow-left: "\f177";
$es-long-arrow-right: "\f178";
$es-female: "\f182";
$es-male: "\f183";
$es-sun: "\f185";
$es-moon: "\f186";
$es-file-box: "\f187";
$es-arrow-circle-right: "\f18e";
$es-arrow-circle-left: "\f190";
$es-caret-square-left: "\f191";
$es-handicap: "\f193";
$es-building-alt: "\f1ad";
$es-child: "\f1ae";
$es-paw: "\f1b0";
$es-recycle: "\f1b8";
$es-car: "\f1b9";
$es-database: "\f1c0";
$es-file-pdf: "\f1c1";
$es-file-word: "\f1c2";
$es-file-excel: "\f1c3";
$es-file-powerpoint: "\f1c4";
$es-file-image: "\f1c5";
$es-file-zipped: "\f1c6";
$es-reverse-time: "\f1da";
$es-sliders: "\f1de";
$es-share: "\f1e0";
$es-share-alt: "\f1e1";
$es-plug: "\f1e6";
$es-news: "\f1ea";
$es-wi-fi: "\f1eb";
$es-calculator: "\f1ec";
$es-credit-visa: "\f1f0";
$es-credit-mastercard: "\f1f1";
$es-credit-discover: "\f1f2";
$es-credit-amex: "\f1f3";
$es-credit-paypal: "\f1f4";
$es-credit-stripe: "\f1f5";
$es-trash-alt: "\f1f8";
$es-copyright: "\f1f9";
$es-at-symbol: "\f1fa";
$es-line-graph: "\f1fe";
$es-pie-chart: "\f200";
$es-graph: "\f201";
$es-toggle-off: "\f204";
$es-toggle-on: "\f205";
$es-bike: "\f206";
$es-motorcycle: "\f21c";
$es-server: "\f233";
$es-user-add: "\f234";
$es-user-remove: "\f235";
$es-pointer: "\f245";
$es-note: "\f249";
$es-note-alt: "\f24a";
$es-notes: "\f24d";
$es-hand-: "\f255";
$es-uniF256: "\f256";
$es-uniF25A: "\f25a";
$es-trademark: "\f25c";
$es-reserved: "\f25d";
$es-calendar-add: "\f271";
$es-calendar-remove: "\f272";
$es-calendar-delete: "\f273";
$es-calendar-check: "\f274";
$es-map: "\f278";
$es-map-alt: "\f279";
$es-credit-alt: "\f283";
$es-usb: "\f287";
$es-purse: "\f290";
$es-basket: "\f291";
$es-octothorpe: "\f292";
$es-bluetooth: "\f293";
$es-bluetooth-alt: "\f294";
$es-percent: "\f295";

