.bgc1 {
  margin-left: 2em;
}
.glyph {
	padding-right: 1em;
	overflow: hidden;
	width: 48%;
	float: left;
}
.glyph fieldset {
  border: none;
  padding: 0;
}
.liga {
	width: 80%;
	width: calc(100% - 2.5em);
}
.talign-right {
	text-align: right;
}
.talign-center {
	text-align: center;
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
}
.mvm {
	margin-top: .75em;
	margin-bottom: .75em;
}
.mtn {
	margin-top: 0;
}
.mtl, .mal {
	margin-top: 1.5em;
}
.mbl, .mal {
	margin-bottom: 1.5em;
}
.mal, .mhl {
	margin-left: 1.5em;
	margin-right: 1.5em;
}
.mls {
	margin-left: .25em;
}
.ptl {
  -webkit-columns: 4em 2;
  -moz-columns: 4em 2;
  columns: 4em 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}
.pbs, .pvs {
	padding-bottom: .25em;
}
.pvs, .pts {
	padding-top: .25em;
}
.unit {
  text-align: center;
  float: left;
  height: 37px;
  margin-right: 0 !important;
  border-radius: 4px 0 0 4px!important;
}
.unitRight {
  font-family: 'ES-Breeze' !important;
  text-align: center;
  height: 37px !important;
  margin-left: 0;
  border-left-width: 0 !important;
  border-radius: 0 4px 4px 0 !important;
  float: right;
}
.size1of2 {
	width: 50% !important;
}
.size1of1 {
	width: 100% !important;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.hidden-true {
	display: none;
}
.textbox0 {
	width: 3em;
	background: #f1f1f1;
	padding: .25em .5em;
	line-height: 1.5;
	height: 1.5em;
}
#testDrive {
	display: block;
	padding-top: 24px;
	line-height: 1.5;
}
.fs0 {
	font-size: 16px;
}
.fs1 {
	font-size: 1.5em;
}
