<section class="cart cart2">
  <div class="cart-header">
    <h2><i class="es-cart"></i> Cart</h2>
  </div>

  <div class="cart-rental">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#rental_1" aria-expanded="true" aria-controls="rental_1">
              <i class="es-caret-right"></i>ER762
            </a>
          </h4>
        </div>
        <div id="rental_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cart-retail">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#retail" aria-expanded="true" aria-controls="retail">
              <i class="es-caret-right"></i>Retail <button class="btn-tertiary btn-small">Add Retail</button>
            </a>
          </h4>
        </div>
        <div id="retail" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
            <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cart-summary-2">
    <div class="inner">
      Grand Total: $1
      <button type="button" class="js-payment btn-secondary--inverse btn-fullWidth">Proceed to Payment</button>
    </div>
  </div>

</section>

<section class="payment">
  <div class="cart-header">
    <h2><i class="es-dollar"></i> Payment</h2>
  </div>

  <div class="payment-type">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-secondary btn-small">Cash</button>
      <button type="button" class="btn btn-secondary btn-small">Credit</button>
      <button type="button" class="btn btn-secondary btn-small">Check</button>
    </div>
  </div>
</section>
