<section class="context context--rental">
  <div class="wrapper">
    <header>
      <h1>ER762</h1>
      <p class="meta">10 x 10 Climate-controlled, Down</p>
    </header>
    <div class="context-data">
      <ul class="columns">
        <li>
          <h6>Unit Status</h6>
          <div class="status status--green">Rented</div>
        </li>
        <li>
          <h6>Rented Since</h6>
          10/10/14
        </li>
        <li>
          <h6>Paid Thru</h6>
          01/01/16
        </li>
      </ul>
    </div>
  </div>
</section>