<a class="site-title" href="{{ site.baseurl }}/">
  <div id="logo"></div>
</a>

<nav>
  <ul>
    <li><a href="#typography">Typography</a></li>
    <li><a href="#buttons">Buttons</a></li>
    <li><a href="#badges">Badges</a></li>
    <li><a href="#alerts">Alerts</a></li>
    <li><a href="#forms">Forms</a>
      <ul>
        <li><a href="#checks">Checkboxes/Radios</a></li>
        <li><a href="#inline-checks">Inline Checks/Radios</a></li>
        <li><a href="#inline-form">Inline Forms</a></li>
        <li><a href="#date">Date Input</a></li>
      </ul>
    </li>
    <li><a href="#tables">Tables</a></li>
    <li><a href="#accordions">Accordions</a></li>
    <li><a href="#tabs">Tabs</a></li>
    <li><a href="#modals">Modals</a></li>
  </ul>
</nav>
