<a class="site-title" href="{{ site.baseurl }}/">
  <div id="logo"></div>
</a>

<nav>
  <ul>
    <li><a href="{{ site.baseurl }}/#typography">Typography</a></li>
    <li><a href="{{ site.baseurl }}/glyphs">Glyphs</a></li>
    <li><a href="{{ site.baseurl }}/#buttons">Buttons</a></li>
    <li><a href="{{ site.baseurl }}/#dropdown">Dropdowns</a></li>
    <li><a href="{{ site.baseurl }}/#badges">Badges</a></li>
    <li><a href="{{ site.baseurl }}/#alerts">Alerts</a></li>
    <li><a href="{{ site.baseurl }}/#forms">Forms</a>
      <ul>
        <li><a href="{{ site.baseurl }}/#checks">Checkboxes/Radios</a></li>
        <li><a href="{{ site.baseurl }}/#inline-checks">Inline Checks/Radios</a></li>
        <li><a href="{{ site.baseurl }}/#inline-form">Inline Forms</a></li>
        <li><a href="{{ site.baseurl }}/#date">Date Input</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/#tables">Tables</a></li>
    <li><a href="{{ site.baseurl }}/#accordions">Accordions</a></li>
    <li><a href="{{ site.baseurl }}/#tabs">Tabs</a></li>
    <li><a href="{{ site.baseurl }}/#modals">Modals</a></li>
    <li><a href="{{ site.baseurl }}/#pop-overs">Pop-Overs</a></li>
  </ul>
</nav>
