.glyphs {
  i {
    margin-right: .5em;
  }
  h2 {
    margin: 0;
  }
}
#libNav,
#library {
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

#library {
  flex: 1;
  padding-top: 2em;
}

#libNav {
  width: 200px;
  height: 100%;
  @include no-padding("all");
  background-color: $body-grey;
}

.examples,
.snippets {

}
.snippets {
  margin: $large-spacing 0;
}

#library article {
  margin: 0 2em 2em;
  padding: 0 2em 2em;
  border: 1px solid $grey;
  border-radius: $base-border-radius * 2;
  background-color: #fff;
  @include transition(all .5s ease-in-out);
  header > h1 {
    margin-bottom: $large-spacing;
    font-weight: 300;
    color: $med-grey;
    @include transition(all .5s ease-in-out);
  }
}

pre { //Override Bootstrap's "auto" which generates an extra scroll container
  overflow: initial;
}

nav {
  h5 {
    margin: $large-spacing;
  }
  li {
    display: block;
  }
  a {
    color: white;
    display: block;
    padding: $small-spacing $large-spacing;
    &:hover {
      color: white;
      background-color: $es-blue;
      text-decoration: none;
    }
  }

  li > ul {
    margin-left: 10px;
    font-size: $font-size-small;

    li {;
      padding: $small-spacing / 2
    }
  }
}

.site-header {
  padding: 2.25em 0;
  h1 {
    font-size: modular-scale(7);
    margin: 0;
  }
}

#logo {
  width: 100px;
  height: 46px;
  background-image: url('../img/ess.png');
  background-repeat: no-repeat;
  display: block;
  margin: $large-spacing auto;
}

.addTop {
  margin-top: 2em;
}