body {
  margin: 0 10px;
}

.glyphs {
  i {
    margin-right: .5em;
  }
  h2 {
    margin: 0;
  }
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  background: $body-grey;
  height: 100%;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);
  @include no-padding("all");
}
.page-content {

}
.examples,
.snippets {

}
.snippets {
  margin: $large-spacing 0;
}

article {
  margin-top: 2em;
  padding: 0 2em 2em;
  border-bottom: 1px solid $ghost-grey;
  border-radius: $base-border-radius * 2;
  @include transition(all .5s ease-in-out);
  header > h1 {
    margin-bottom: $large-spacing;
    font-weight: 300;
    color: $med-grey;
    @include transition(all .5s ease-in-out);
  }
}

nav {
  color: #fff;
  h5 {
    margin: $large-spacing;
  }
  li {
    display: block;
  }
  a {
    display: block;
    color: #fff;
    padding: $small-spacing $large-spacing;
    &:hover {
      background: $es-blue;
      color: #fff;
      text-decoration: none;
    }
  }

  li > ul {
    margin-left: 10px;
    font-size: $font-size-small;

    li {;
      padding: $small-spacing / 2
    }
  }
}

.site-header {
  padding: 2.25em 0;
  h1 {
    font-size: modular-scale(7);
    margin: 0;
  }
}

#logo {
  width: 100px;
  height: 46px;
  background-image: url('../img/ess.png');
  background-repeat: no-repeat;
  display: block;
  margin: $large-spacing auto;
}

.addTop {
  margin-top: 2em;
}