body {
  background-color: $bg-grey;
}

.container {
  background-color: $white;
  border: 1px solid $med-grey;
}

article.ex {
  margin-top: 0;
  margin-bottom: $large-spacing;
  padding: 0;
  border: none;
}

section {
  margin-bottom: $base-spacing;
}

div[class$="overlay"] {
  display: none;
}

.context {
  @include padding($base-spacing 0 $large-spacing * 3);
  margin-bottom: -2.25em;
  background-color: $body-grey;
  color: $white;

  header {
    margin-bottom: $base-spacing * 2;
  }

  h1 {
    font-weight: 700;
    margin-bottom: 0;
  }
}

.context-data label {
    color: $bg-grey;
}

.context .columns {
  -webkit-columns: 3em 3;
  -moz-columns: 3em 3;
  columns: 3em 3;
  -webkit-column-gap: 3em;
  -moz-column-gap: 3em;
  column-gap: 3em;
  @include media(large) {
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
  }

  li {
    margin-bottom: $base-spacing;
  }
}

#viewContainer {
  @include display(flex);
  overflow: hidden;
  height: 100vh;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

#contentContainer {
  flex: 1;
}

.inner {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include media(large) {
    @include flex-direction(row);
   }
}

#viewHeader {
  @include media(large) {
    width: 450px;
    height: 100vh;
    background-color: $body-grey;
  }

  .nav-tabs {
    @include media(large) {
      display: none;
    }
  }
}

#viewContent {
  @include media(large) {
    flex: 1;
    padding-top: 3em;
  }
}

#relations-tabs > .actions {
  display: none;
  @include media(large) {
    display: block !important;
  }
}

#relations-tabs .tab-content > .tab-pane {
  @include media(large) {
    display: block !important;
  }
}

#relations-tabs .tab-content {
  @include media(large) {
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
  }
  h3 {
    display: none;
    @include media(large) {
      display: block
    }
  }
}

.wrapper {
  margin: 0 1em;
}

#contentContainer,
#slidingPanel {
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

#contentContainer::-webkit-scrollbar,
#slidingPanel::-webkit-scrollbar {
  display: none;
}
// With Flexbox
.oppContact-details {
  @include align-items(flex-start);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include flex-wrap(wrap);

  li {
    @include flex(1);
    margin-bottom: $large-spacing;
  }

  li:first-child,
  li:last-child {
    @include flex-basis(100%);
  }
}

// With BS Grid
.oppContact-details2 {

  li {
    margin-bottom: $large-spacing;
  }
}

// Cart Styles

#slidingPanel {
  position: relative;
  width: 640px;
  margin-right: -320px;
  height: 100%;
  background-color: $white;
  border-color: $med-grey;
  border-style:  solid;
  @include border-width(0 0 0 1px);
  box-shadow: -4px 0 6px rgba(0,0,0,.12);
  overflow: hidden;
  z-index: 10;
  @include transition(all .5s ease-in-out);

  > section {
    height: 100%;
  }

}

.cart,
.payment {
  position: absolute;
  top: 0;
  padding-bottom: 8em;
  width: 320px;
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0 !important; //Hide scollbar on Chrome for Windows
  }

  > div:not(:first-child) {
    border-top: 1px solid
  }

  .panel {
    border: none;
  }
}

.cart {
  left: 0;
  border-right: 1px solid $med-grey;
}

.cart2 {
  padding-bottom: 0;
}

.cart .panel-heading {
  padding: 0;
  border-bottom: none;

  i {
    float: right;
  }
}

.cart .panel-heading a {
  padding: $large-spacing $base-spacing;

  &:hover {
    background-color: $ghost-grey;
    text-decoration: none;
  }
}

.cart .panel-group {
  margin-bottom: 0;
}

.cart .panel-body {
  border-bottom: none;
}

.cart-header {
  border-bottom: 4px solid $dark-grey;
  border-right: 1px solid $med-grey;
  padding: $base-spacing;
  background-color: $ghost-grey;

  h2 {
    display: inline-block;
    margin: $base-spacing 0;
    font-weight: 700;
    i {
      margin-right: $small-spacing;
    }
  }

  .cancel {
    color: $red;
    float: right;
    margin: 0.75em 0;
  }
}

.cart-rental {

}

.cart-retail {

}

.cart-summary {
  padding: $large-spacing $base-spacing;
  background-color: $es-blue;
  color: $white;

  > .inner {
    position: relative;
    @include justify-content(flex-end);
    text-align: right;
    font-size: $font-size-larger;
    font-weight: 700;
    margin-bottom: $large-spacing;
  }

  .title {
    @include flex(2);
  }
  .amount {
    @include flex(1);
  }
}

.cart-summary-2 {
  padding: $large-spacing $base-spacing;
  background-color: $es-blue;
  color: $white;

  > .inner {
    position: relative;
  }
}

.payment {
  right: 0;

  > div:not(:first-child) {
    padding: $large-spacing $base-spacing;
  }
}

// Payment Pane Modifiers

body.payment-active {
  position: fixed;
  top: 0;

  .page-overlay {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    @include transition(all .5s ease-in);
    z-index: 5;
  }

  #slidingPanel {
    position: fixed;
    right: 0;
    margin-right: 0;
  }
}