<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="viewContainer">
      <div id="contentContainer">
        <div class="inner">
          <div id="viewHeader">
           {% include context-example.html %}
          </div>
          <div id="viewContent">
            {{ content }}
          </div>
        </div>
      </div>

      <div id="slidingPanel">
        {% include cart.html %}
      </div>
    </div>

    <div class="page-overlay"></div>

    <script type="text/javascript">
      //Show Payment Panel

      $(".js-payment").click(function(e) {
          $("body").toggleClass("payment-active");
      });

      $(".cancel").click(function(e) {
          $("body").toggleClass("payment-active");
      });

    </script>
  </body>
</html>
