<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="viewHeader">
      {% include context-example.html %}
    </div>

    <div id="contentContainer">
      {{ content }}
    </div>

    <div id="slidingPanel">
      {% include cart2.html %}
    </div>

    <div class="page-overlay"></div>

    <script type="text/javascript">
      //Show Payment Panel

      $(".js-payment").click(function(e) {
          $("body").toggleClass("payment-active");
      });

    </script>
  </body>
</html>
