#{$all-buttons},
.btn,
.btn-default,
.btn-primary {
  appearance: none;
  background-color: $action-color;
  border: 1px solid $light-blue;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $font-size-small;
  font-weight: 700;
  padding: 7px $large-spacing;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .05em;
  line-height: inherit;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: lighten($action-color, 15%);
    color: #fff;
    border-color: $light-blue;
    outline: none;
  }

  &:active,
  &:active:hover {
    background-color: lighten($action-color, 15%);
    border-color: $light-blue;
	  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	  outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $med-grey;
    border-color: $grey;
    color: $grey;
  }

  &.is-active {
    background-color: lighten($action-color, 15%);
    border-color: $light-blue;
	  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	  outline: none;
  }
}

.btn-secondary {
	background-color: transparent;
	color: $action-color;
	border-color: $action-color;

	&:hover,
	&:focus {
		background-color: transparent;
		color: lighten($action-color, 15%);
		border-color: lighten($action-color, 15%);
		outline: none;
	}
	&:active,
  &:active:hover {
    color: #fff;
  }

  &.is-active {
    background-color: $es-blue;
    color: $white;
    border-color: $es-blue;
	  box-shadow: none;
	  outline: none;
  }
}

.btn-secondary--inverse {
	background-color: transparent;
	color: $white;
	border-color: $white;

	&:hover,
	&:focus {
		background-color: $white;
		color: $es-blue;
		border-color: $es-blue;
		outline: none;
	}
	&:active,
  &:active:hover {
    background-color: $white;
		color: $es-blue
  }
}


.btn-special {
  background-color: $es-green;
  border-color: $bright-green;

  &:hover,
	&:focus {
		background-color: lighten($es-green, 15%);
		border-color: $bright-green;
		outline: none;
	}
  &:active,
  &:active:hover {
    background-color: lighten($es-green, 15%);
    border-color: $bright-green;
	  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	  outline: none;
  }
  &.is-active {
    background-color: lighten($es-green, 15%);
    border-color: $bright-green;
	  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	  outline: none;
  }
}

.btn-tertiary {
  color: $es-blue;
  background: none;
  border: none;

  &:hover,
	&:focus {
  	color: lighten($action-color, 15%);
		background: none;
		border: none;
		outline: none;
	}
  &:active,
  &:active:hover {
    background: none;
    border: none;
	  box-shadow: none;
	  outline: none;
  }
}

button.close,
.close,
.btn-close {
  font-size: $font-size-smaller;
  color: $dark-grey;
  background: none;
  border: none;
  text-shadow: none;
  opacity: 1;

  &:hover,
	&:focus {
		background: none;
		border: none;
		outline: none;
	}
  &:active,
  &:active:hover {
    background: none;
    border: none;
	  box-shadow: none;
	  outline: none;
  }
}

.btn-small {
  font-size: $font-size-smaller;
  padding: 4px $base-spacing;
}

.btn-fullWidth {
  display: block;
  width: 100%;
}
