fieldset {
  background-color: $secondary-background-color;
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  font-size: floor(ms(-2));
  font-weight: 300;
  margin-bottom: 0;
  color: $med-grey;
  text-transform: uppercase;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
.form-control, //Bootstrap class override
select[multiple=multiple] {
  background-color: $ghost-grey;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;
  height: 36px;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $es-green;
    box-shadow: $form-box-shadow-focus;
    outline: none;
    background: #fff;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

// Form Classes

.checkbox,
.radio {
  label {
    text-transform: none;
    color: $body-grey;
    font-size: ms(0);
  }
}


// Input Group Overrides

.input-group-addon {
  background-color: $grey;
  border-color: $med-grey;
}

// input[type=date]
.input-date {

  .input-group-btn {
    position: absolute;
    right: 36px;
    top: 0;
  }

  .form-control {
    position: relative;
    padding-right: 40px;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 100;
      width: 40px;
      height: 100%;
      padding: 0;
      cursor: pointer;
    }
  }
}
