fieldset {
  background-color: $secondary-background-color;
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  font-size: $font-size-smaller;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: uppercase;
  color: $dark-grey;
  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
.form-control, //Bootstrap class override
select[multiple=multiple] {
  color: $body-grey;
  background-color: $ghost-grey;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1;
  margin-bottom: $small-spacing;
  padding: .5em .75em;
  transition: border-color $base-duration $base-timing;
  width: 100%;
  height: auto; //Override BS hard-value

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $es-green;
    box-shadow: $form-box-shadow-focus;
    outline: none;
    background: #fff;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

select.form-control {
  height: 37px; // Requires explicit height as <select> will not apply padding
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

// Form Classes
.checkbox,
.radio {
  label {
    text-transform: none;
    color: $body-grey;
    font-size: modular-scale(0);
  }
}


// Input Group Overrides
.input-group-addon {
  background-color: $grey;
  border-color: $base-border-color;
}

// input[type=date]
.input-date {
  .input-group-addon {
    background-color: $es-blue;
    color: #fff;
  }
}

.has-error {
  label {
    color: $red;
  }
}

.has-error .form-control {
  color: $red;
  border-color: $red;
  background-color: tint($red, 85%);

  &:focus {
    box-shadow: none;
    border-color: $red;
  }
}

.has-error .help-block {
  color: $red;
  font-size: $font-size-smaller;
  margin-top: none;
  padding-left: .5em;
  border-left: 2px solid $red;
/*
  &:before {
    font-family: "FontAwesome";
    content: '\f071';
    margin-right: .25em;
  }
*/
}
