@import "neat/neat-helpers";

// Grid Settings
//$column: 78px;
//$gutter: 24px;
//$grid-columns: 12;
$max-width: 1200px;

// Breakpoints
$standard: new-breakpoint(min-width 1024px);
$large: new-breakpoint(min-width 1180px);

// Development
$visual-grid: false !global;
$visual-grid-color: red !global;
$visual-grid-index: front !global;
$visual-grid-opacity: 0.1 !global;