table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

tr,
td,
th {
  vertical-align: middle;
  border-bottom: 1px solid $grey;
}

th {
  border-bottom: 1px solid $dark-grey;
  font-weight: 400;
  font-size: $font-size-smaller;
  padding: $small-spacing 0;
  text-transform: uppercase;
  text-align: left;
}

td {
  padding: $small-spacing 0;
}


tr {
  &:nth-of-type(even) {
    background-color: $table-bg-accent;
  }
  &:hover {
    background-color: $es-blue;
    color: #fff;

    th {
      background-color: inherit;
    }
  }

}
