/*
 * Misc Helper Classes and Mixins
 */


/* Remove Padding Mixin
 *
 * Examples:
 *
 * @include no-padding("left");
 * @include no-padding("right");
 * @include no-padding("top");
 * @include no-padding("bottom");
 * @include no-padding("all");
 *
 */

@mixin no-padding($side) {
  @if $side == 'all' {
      padding: 0 !important;
  }
  @else {
      padding-#{$side}: 0 !important;
    }
  }

/*
 * Media Queries
 *
 * Breakpoint values defined in _variables.scss
 */

 @mixin media($point) {
  @if $point == small {
    @media (min-width: $bp-small) { @content; }
  }
  @else if $point == large {
    @media (min-width: $bp-large) { @content; }
  }
}

/*
 * Status Scale
 *
 * Use these classes to modify a component's color scheme to adhere to the status scale
 */

/* Status Mixin (WIP)
 *
 * $status
 * accepted terms: actv, clsd, movn, appt, attn, warn, clen, lost, lead
 *
 * $property
 * accepted values: background, color, border
 *
 */

/*
  @mixin status-scale($status, $property) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  @if $status == 'clsd, urgt, warn' {
    background-color: $status-warning;
  }
}
*/

// Badges (Temp?)
.badge {
  text-transform: uppercase;
  font-weight: 700;
  padding: $small-spacing $base-spacing;
  vertical-align: text-bottom;

  &.status-warning {
    background-color: $status-warning;
  }
  &.status-needsAttention {
    background-color: $status-needs-attention;
  }
  &.status-inProgress {
    background-color: $status-in-progress;
  }
  &.status-ready {
    background-color: $status-ready;
  }
  &.status-active {
    background-color: $status-active;
  }
  &.status-inactive {
    background-color: $status-inactive;
  }
}

// Tooltip Overrides
i[data-toggle="tooltip"] {
  color: $es-blue;
}

.tooltip {

  .tooltip-inner {
    padding: $small-spacing $base-spacing;
    font-family: $base-font-family;
    font-size: $font-size-large;
    box-shadow: 0px 4px 6px rgba(0,0,0,.4);
  }
}

// Unit/Account Status Style
.status {
  padding: $small-spacing;
  font-size: $font-size-large;
  font-weight: 700;
  border-radius: $base-border-radius;

  &.status--green {
    background-color: $es-green;
    color: $white;
  }
}
